<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="org.llmasr.minimal" android:versionCode="1" android:versionName="0.1-debug">
    <uses-sdk android:minSdkVersion="29" android:targetSdkVersion="35" />
    <uses-feature android:name="android.hardware.microphone" android:required="false" />
    <application android:label="Qwen ASR Minimal" android:theme="@android:style/Theme.Material.Light.NoActionBar" android:allowBackup="false" android:debuggable="true" android:extractNativeLibs="true" android:supportsRtl="true">
        <activity android:name=".MainActivity" android:launchMode="singleTask" android:exported="true" android:configChanges="orientation|screenSize|keyboardHidden" android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
